extends layout

block vendorStyles
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css" >
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

block content
    div.main__title File - #{fileName}
    div.file.main__block
        pre.file__pre
            code= data
