extends layout

block content
  div.branches
      each val in branches
          div.branches__item
            a(href="branch/" + val.link, class=val.current ? "" : "current", class="branches__link")= val.name
