doctype html
html
  head
    title= title
    link(rel="shortcut icon", href="/public/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='/styles/_main.css')
  body
    div.l-content
      include blocks/Header/Header
      div.main
        block content


    script(src='/scripts/'+ pageName +'.js')
