header.header
    a(href="/", class="header__title") Git Visualization
    div.breadcrumbs
        a(href="/branch/" + branchName).breadcrumbs__item= branchName
        span.breadcrumbs__item= commitName
    //include ../Nav/Nav.pug
