.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__logo {
        display: block;
        font-size: 30px;
        line-height: 30px;
        text-transform: uppercase;
    }
}
