.branches {
    &__item {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
    }

    &__link {
        &.current {
            font-weight: 700;
            color: #00ff00;
            margin-left: -13px;
        }

        &:hover {
            color: #00ff00;
        }
    }
}
