.main {

    &__title {
        font-size: 20px;
        padding: 10px 20px;

        &__comment {
            font-size: 14px;
            margin: 0 10px;
        }
    }

    &__block {
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
}
